body {
    background-image: url(/home/blueblur997/CourseWork/Capstone-1/Another-Man-s-Treasure/kid-sonic-the-hedgehog.gif)
  }

/* 

.navbar-nav {
    display: none !important;
}

.navbar-brand {
    display: none !important;
} */

/* .sonicGif {
    position: absolute;
} */